<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="Application" point="org.eclipse.core.runtime.applications">
		<application cardinality="singleton-global" thread="main"
			visible="true">
			<run class="net.leaobr.rcp.application.E3Application">
			</run>
		</application>
	</extension>

	<extension point="org.eclipse.ui.startup">
		<startup class="net.leaobr.rcp.cm.parts.ConsoleView"/>
	</extension>

	<extension id="product" point="org.eclipse.core.runtime.products">
		<product application="net.leaobr.cm.application.Application"
			name="Canis Major">
			<property name="appName" value="Canis Major">
			</property>
			<property name="applicationXMI" value="net.leaobr.cm.application/Application.e4xmi"> </property>
   <property
         name="startupForegroundColor"
         value="000000">
   </property>
   <property
         name="startupMessageRect"
         value="10,10,280,17">
   </property>
   <property
         name="startupProgressRect"
         value="0,280,455,15">
   </property>
   <property
         name="preferenceCustomization"
         value="plugin_customization.ini">
   </property>
		</product>
	</extension>
	<extension point="org.eclipse.e4.ui.css.swt.theme">
		<theme basestylesheeturi="css/default.css" id="net.leaobr.e4.cm.default"
			label="Default Theme">
		</theme>
		<theme basestylesheeturi="css/rainbow.css" id="net.leaobr.e4.cm.rainbow"
			label="Rainbow">
		</theme>
	</extension>
</plugin>